/* You can add global styles to this file, and also import other style files */
:root {
  --header-bg: #1a1a1a;
  --primary-color: #ECC80B;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

/* body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at top left, #cfc177, #000000, #cfc177);
  color: #fff;
} */

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;

  background-image: url('/assets/images/black-bg-mpi.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Fix Formly label color */
.form-label {
  color: #212529 !important; /* Bootstrap default dark */
}

.form-label span {
  color: #dc3545;
}



