.page-bg {
  min-height:90vh;
  background-image: url('/assets/images/black-bg-mpi.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-container {
  display: inline-block;
  padding: 20px;
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.download-wrapper {
  width: 900px;
  background: white;
  padding: 30px;
  text-align: center;
}
.title {
  color: #e6d8a3;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.entry-text h1 {
margin: 0;
    font-size: 70px;
    font-family: emoji;
    font-weight: bolder;
    color: #c59700;
}

.entry-text p {
    margin: 0px 0;
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    font-family: serif;
}
.glass-card {
  width:500px;
  padding: 40px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid #ffdb92; /* gold border */
  box-shadow: 0 0 25px rgba(212, 175, 55, 0.2);
  text-align: center;
}

/* Title */
.title {
  color: #ffeb9c;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Inputs */
.qr-input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
}

/* Buttons */
.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Dark button */
.btn-dark {
  background: #1f1f1f;
  color: #fff;
  margin-right: 8px;
}

.btn-dark:hover {
  background: #2a2a2a;
}

/* Gold button */
.btn-gold {
  background: linear-gradient(358deg, #ffdb92, #000000);
  color: #fff;
  border: 1px solid #ffdb92;
}

.btn-gold:hover {
  filter: brightness(1.1);
}

/* Disabled */
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}






